.simulate-form {
  background-color: #fff;
  text-align: center;
}

#simulate {
  .simulate-container {
    // width: 99%;
    // margin: 0 auto;
    // background-color: #fff;
    //   margin-left: 10px;
    //   box-sizing: content-box !important;
  }
}
.simulate-img {
  width: 100%;
}
.simulate-col {
  background-color: #fff;
}
